$textColor: #0b0b0b;
$linkColor: #000;
$primaryColor: #febc4b;
$backgroundColor: #ebebeb;
$socialLinksColor: #335ed7;
$footerTextColor: #727272;
$borderRadius: 10px;

body, input, button, select, textarea {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $textColor;
}

body {
  background: $backgroundColor;
}

// Same values as twitter bootstrap
// http://getbootstrap.com/css/#grid

$screen-xxs-max: 479px;
$screen-xs-min: 480px;
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

@media (max-width: $screen-xxs-max) {
  // We could also force the user to use the native app like this: .container { display: none; }
  .xxs-container {
    padding: 5%;
    a {
      display: block;
      font-weight: bold;
      margin: 10px 0 0 0;
      padding: 10px 16px;
      border: 1px #ccc solid;
      border-radius: 6px;
      text-align: center;
      background: #fff;
    }
  }
}

@media (min-width: $screen-xs-min) {
  .xxs-container {
    display: none;
  }
}

@media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  // nothing to do yet...
}

@media (min-width: $screen-sm-min) {
  .container {
    margin: 0px auto;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  $colWidth: 60px;

  .container {
    width: 750px;
  }
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      float: left;
      width: $colWidth * $i;
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  $colWidth: 78px;

  .container {
    width: 970px;
  }
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      float: left;
      width: $colWidth * $i;
    }
  }
}

@media (min-width: $screen-lg-min) {
  $colWidth: 95px;

  .container {
    width: 1170px;
  }
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      float: left;
      width: $colWidth * $i;
    }
  }
}

a {
  color: $linkColor;
  text-decoration: none;
}

img {
  border-radius: $borderRadius;
}

a.more {
  font-weight: bold;
  display: block;
  margin-top: 1em;
}

.fl {
  float: left;
}

.clearer {
  clear: both;
}

h1 {
  text-align: center;
  font-size: 200%;

  a {
    text-decoration: none;
  }
}

h3 {
  font-weight: bold;
  margin-bottom: 1em;
}

.top-nav {
  text-align: center;
  margin: 10px 0;
  ul {
    display: inline-block;
    li {
      float: left;
      display: block;
      padding: 5px 5px;
      background: $primaryColor;
      border: 2px solid #d9d9d9;
      margin: 0 2px;
    }
  }
}

.left-nav {
  margin: 0 10px 0 2px;

  div {
    text-align: center;
    background: $backgroundColor;
    font-weight: bold;
    padding: 1px 0;
    margin: 2px 0 3px 0;
  }
  a {
    display: block;
    padding: 3px 0 1px 0;
    border-bottom: 3px solid $backgroundColor;
  }
}

.main-content {
  background: $primaryColor;
  border-radius: $borderRadius;

  margin-right: 10px;
  padding: 10px;

  > div {
    background: $backgroundColor;
    margin: 10px;
    padding: 10px;
    border-radius: $borderRadius;
  }
}

.right-content {
  margin-right: 2px;

}

.reviewer {
  clear: both;
  padding-top: 1ex;
  overflow: hidden;

  > img {
    margin-right: 1ex;
    float: left;
    width: 40%;

  }

  > span {
    display: block;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 1ex;
  }

  > div {
    font-size: 80%;
  }

  a {
    clear: both;
    color: black;
  }
}

.review {
  text-align: center;
  font-weight: bold;
  > img {
    margin: 1ex 0;
    width: 100%;
  }
}

.footer {
  position: relative;
  left: 180px;
  color: #999;
  margin-bottom: 50px;

  div {
    display: inline;
  }

  h3 {
    font-size: 75%;
    display: inline;
  }

  p {
    margin-top: 1ex;
    font-size: 90%;
  }
}

//boxes
.left-nav, .main-content, .content-box {
  border-radius: $borderRadius;
  background: $primaryColor;
  padding: 10px;
  margin-bottom: 10px;
}

.contest-box {
  padding-left: 3px;
  padding-right: 3px;
  //padding: 0 3px 0 3px;
  > img {
    width: 100%;
    margin-bottom: 10px;
  }

  span {
    font-weight: bold;
  }
}

#social-box {
  border-radius: $borderRadius;
  background: $socialLinksColor;
  padding: 10px 30px;

  display: flex;
  justify-content: space-around;

  img {
    border-radius: 0;
    width: 50px;
  }
}

//main content
.hotel-item {
  overflow: hidden;
  > div {
    overflow: hidden;
  }

  img {
    width: 36.3%;
    margin-bottom: 10px;
    margin-right: 1ex;

    float: left;
  }

  .author {
    float: right;
    a {
      font-weight: normal;
    }
  }
}

.more-items {
  text-align: center;
  font-weight: bold;
}

.weekly {

  .image-slider {
    .cropped {
      overflow: hidden;
      border-radius: $borderRadius;
      height: 500px;

      img {
        margin: -15px 0 0 -400px;
        border-radius: 0;
        max-width: 2400px;
        width: auto;
      }
    }
    .thumbnail {
      margin: 0 20% 0 20%;
    }
  }
  img {
    width: 100%;
  }
}

.reviewers {
  > h1 {
    text-align: left;
  }
  > div {
    display: flex;
    justify-content: space-around;

  }

  > div > div {
    overflow: hidden;
    width: 50%;
  }

  img {
    width: 29%;
    float: left;
  }
}