body, input, button, select, textarea {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #0b0b0b; }

body {
  background: #ebebeb; }

.main-container {
  width: 1200px;
  margin: 0px auto; }

@media (min-width: 1024px) {
  .col-md-2, .col-md-7, .col-md-3 {
    float: left; }

  .col-md-1 {
    width: 90px; }

  .col-md-2 {
    width: 180px; }

  .col-md-3 {
    width: 270px; }

  .col-md-7 {
    width: 630px; } }
@media (min-width: 700px) and (max-width: 1023px) {
  .col-md-2, .col-md-7, .col-md-3 {
    float: left; }

  .col-md-1 {
    width: 70px; }

  .col-md-2 {
    width: 140px; }

  .col-md-3 {
    width: 210px; }

  .col-md-7 {
    width: 490px; } }
a {
  color: black;
  text-decoration: none; }

a.more {
  font-weight: bold;
  display: block;
  margin-top: 1em; }

.fl {
  float: left; }

.clearer {
  clear: both; }

h1 {
  text-align: center;
  font-size: 200%; }
  h1 a {
    text-decoration: none; }

h3 {
  font-weight: bold;
  margin-bottom: 1em; }

.top-nav {
  text-align: center;
  margin: 10px 0; }
  .top-nav ul {
    display: inline-block; }
    .top-nav ul li {
      float: left;
      display: block;
      padding: 5px 5px;
      background: #febc4b;
      border: 2px solid #d9d9d9;
      margin: 0 2px; }

.left-nav {
  margin: 0 10px 0 2px; }
  .left-nav div {
    text-align: center;
    background: #ebebeb;
    font-weight: bold;
    padding: 1px 0;
    margin: 2px 0 3px 0; }
  .left-nav a {
    display: block;
    padding: 3px 0 1px 0;
    border-bottom: 3px solid #ebebeb; }

.main-content {
  background: #febc4b;
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px; }
  .main-content > div {
    background: #ebebeb;
    margin: 10px;
    padding: 10px;
    border-radius: 10px; }

.right-content {
  margin-right: 2px; }

.reviewer {
  clear: both;
  padding-top: 1ex;
  overflow: hidden; }
  .reviewer > img {
    border-radius: 10px;
    margin-right: 1ex;
    float: left;
    width: 75px; }
  .reviewer > span {
    display: block;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 1ex; }
  .reviewer > div {
    font-size: 80%; }
  .reviewer a {
    clear: both;
    color: black; }

.review {
  text-align: center;
  font-weight: bold; }
  .review > img {
    border-radius: 10px;
    margin: 1ex 0;
    width: 200px; }

.footer {
  position: relative;
  left: 180px;
  color: #999;
  margin-bottom: 50px; }
  .footer div {
    display: inline; }
  .footer h3 {
    font-size: 75%;
    display: inline; }
  .footer p {
    margin-top: 1ex;
    font-size: 90%; }

.left-nav, .main-content, .content-box {
  border-radius: 10px;
  background: #febc4b;
  padding: 10px;
  margin-bottom: 10px; }

#contest-box {
  padding-left: 3px;
  padding-right: 3px; }
  #contest-box > img {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px; }
  #contest-box span {
    font-weight: bold; }

#social-box {
  border-radius: 10px;
  background: #335ed7;
  padding: 10px 30px;
  display: flex;
  justify-content: space-around; }
  #social-box img {
    width: 50px; }

.hotel-item {
  overflow: hidden; }
  .hotel-item > div {
    overflow: hidden; }
  .hotel-item img {
    border-radius: 10px;
    width: 250px;
    margin-bottom: 10px;
    margin-right: 1ex;
    float: left; }
  .hotel-item .author {
    float: right; }
    .hotel-item .author a {
      font-weight: normal; }

.more-items {
  text-align: center;
  font-weight: bold; }

.weekly img {
  width: 600px; }

.reviewers > h1 {
  text-align: left; }
.reviewers > div {
  display: flex;
  justify-content: space-around; }
.reviewers > div > div {
  overflow: hidden;
  width: 50%; }
.reviewers img {
  border-radius: 10px;
  width: 100px;
  float: left; }
